{% extends "base.html" %}
{% load static %}

{% block title %}Novios{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/novios.css' %}">
<h1 class="titulo">NUEVA COLECCIÓN 2024</h1>
<div>
    <div class="contenedor-noticias">
        <p> </p>
        <h3 class="subtitulo">Smoking Gris</h3>
        <div class="contenedor-item">
            <img src="{% static 'img/novias/novios/novio.2.1.jpg' %}" width="300px" height="250px" alt="Img Nueva Colección">
            <p>
                Diseñador: Thomas J. Fiedler. <br>
                Diseño: Smoking Gris. <br>
                Un Smoking gris sofisticado que desafía la tradición del negro clásico. Con una chaqueta y pantalones
                ajustados que crean una silueta elegante, este conjunto se distingue por su modernidad y refinamiento.
                Complementado con una camisa blanca impecable y una pajarita a juego, cada detalle refleja la atención
                meticulosa del diseñador a la calidad y al estilo. Este smoking es una expresión audaz de la elegancia
                contemporánea, fusionando la innovación con la tradición en la moda masculina.
            </p>
        </div>

        <h3 class="subtitulo">Smoking Tradicional</h3>
        <div class="contenedor-item">
            <img src="{% static 'img/novias/novios/novio.2.2.jpg' %}" alt="Img Nueva Colección">
            <p>
                Diseñador: Thomas J. Fiedler. <br>
                Diseño: Smoking Tradicional. <br>
                Este conjunto impecablemente cortado y diseñado refleja elegancia y estilo atemporales.
                Con una chaqueta ajustada, pantalones limpios, camisa blanca y corbata, el smoking de Fiedler
                es una declaración de refinamiento. Su diseño tradicional y atención meticulosa al detalle lo
                convierten en la elección perfecta para cualquier evento formal. Es una muestra del talento de
                Fiedler para combinar la tradición con la innovación, creando una prenda que personifica la sofisticación
                masculina y la elegancia clásica.
            </p>
        </div>

        <h3 class="subtitulo">Smoking Negro Perla</h3>
        <div class="contenedor-item">
            <img src="{% static 'img/novias/novios/novio.2.3.jpg' %}" alt="Img Nueva Colección">
            <p>
                Diseñador: Thomas J. Fiedler. <br>
                Diseño: Smoking Negro. <br>
                Este deslumbrante conjunto redefine la elegancia con su sofisticación incomparable, confeccionado en un
                lujoso tejido que evoca opulencia. Complementado con una camisa blanca impecable, chaleco gris y corbatón
                negro de seda, cada detalle refleja la artesanía experta de Fiedler. Este smoking es una declaración audaz de estilo
                atemporal, diseñado para el hombre que busca destacar con elegancia en cualquier ocasión.
            </p>
        </div>
    </div>
</div>
{% endblock %}

